<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Holel Xcaret</h2>
            <p>
                Hotel Xcaret Colombia es un hotel cosmopolita que ha redefinido el concepto de hoteles todo incluido en Medellin y Cartagena con su innovador concepto All-Fun Inclusive®, siendo el primer hotel en las playas de Cartagena que ofrece acceso a todos los parques de Grupo Xcaret. Su detallada arquitectura se integra a la naturaleza a la vez que rinde homenaje a las tradiciones de Colombia, preservando no sólo los recursos naturales, sino también el legado cultural del país.
            </p>
        </div>
        <div class="col-4">
            
        </div>
    </div>
</div>
