<ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="https://github.com/alexcode737" class="nav-link px-2 text-muted">Github</a></li>
    <li class="nav-item"><a href="mailto:alexis15torres16zorrilla@gmail.com" class="nav-link px-2 text-muted">Gmail</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Facebook</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Instagram</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Twitter</a></li>
</ul>
<p class="text-center text-muted">&copy; 2022 Hoteles Xcaret, Inc</p>
